---
import "../global.css";
import Layout from "../Layouts/Layout.astro";

import Burgermenu from "../components/Burgermenu.astro";
import Qr from "../components/Qr.astro";
import Footer from "../components/Footer.astro";
import Countdown from "../components/Countdown.astro";
---

<Layout title="Copehagen Light Festival">
  <Burgermenu />
  <div class="hero_video">
    <video autoplay muted loop src="https://deerbuster.dk/kea/drone_video.mp4"></video>
  </div>

  <div class="qr_countdown">
    <div class="grid_item_1">
      <Countdown class="countdown" />
    </div>
    <div class="grid_item_2">
      <Qr class="qr" />
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .hero_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -90;
  }

  .qr_countdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
  }

  .grid_item_2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .grid_item_1 {
    margin: 1rem 0 0 1rem;
  }
</style>
