---
const { variant } = Astro.props;
---

<button class={variant}><slot /></button>

<style>
  button {
    border-radius: 3px;
    padding: 0.7rem 2.2rem;
    border: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
  }

  button:hover {
    box-shadow: inset 0 0 0 1.5px #fff;
    transition: 0.2s ease-in-out;
  }

  .primary {
    background-color: #fd383c;
    color: #fff;
  }

  .secondary {
    background-color: #8c61f5;
    color: #fff;
    scale: 60%;
    position: relative;
    right: 25px;
  }
</style>
